.header {
  display: grid;
  grid-template-columns: minmax(360px) 1fr;
  grid-template-areas: "logo navigation";
  gap: 30px;
  align-items: center;
  align-content: center;
  margin: 30px;
}

.navigation {
  grid-area: navigation;
}

.auth {
  grid-area: auth;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
.logo_wrapper {
  grid-area: logo;
  max-width: 360px;
}
.logo_wrapper > picture > img {
  max-width: 100%;
  object-fit: cover;
}

.header li {
  list-style-type: none;
}

@media (max-width: 1350px) {
  .header {
    grid-template-areas: "logo navigation";
  }

  .navigation,
  .logo_wrapper {
    width: 100%;
  }
}
