.container {
  display: flex;
  border: 0.2rem solid var(--accent-color);
  padding: 10px;
}
.show_reviews {
  display: flex;
  gap: 7px;
  align-items: center;
  margin: 10px 0 10px;
  cursor: pointer;
}

.show_reviews p {
  border-bottom: 0.2rem solid var(--accent-color);
}
