
.link {
    border: none;
    height: 50px;
    background: var(--accent-color);
    color: var(--text-button-color);
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    line-height: 50px;
}


.small {
    width: 75px;
  }
  
  .medium {
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    width: 150px;
  }
  
  .large {
    width: 245px;
    font-size: 16px;
    font-weight: 800;
    line-height: 50px;
  }