.header_wrapper {
  display: grid;
  grid-template-columns: minmax(360px) 1fr;
  grid-template-areas: "left right";
  gap: 30px;
  align-items: center;
  align-content: center;
  padding: 30px;
}

.left_panel {
  grid-area: "left";

  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}

.right_panel {
  grid-area: "right";
}


@media (max-width : 600px) {
  
  .left_panel{
    flex-direction: column;
  }
}