.like_span {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: green;
}

.dislike_span {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 20px;
  color: red;
}

.like:hover,
.isActiveLike {
  fill: green;
}

.dislike:hover,
.isActiveDislike {
  fill: red;
}
