.list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: flex-start;
  justify-content: center;
}

.list > li {
  font-size: 2rem;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list > li:hover {
  border: none;
  box-shadow: none;
  list-style-type: none;
}

.list > li a {
  height: 100%;
  word-wrap: break-word;
  white-space: normal;
}
