@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.burger_menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
}

.burger_line {
  width: 24px;
  height: 3px;
  background-color: var(--accent-color);
  margin: 4px 0;
  transition: all 0.3s ease;
}

.mobile_menu_open {
  display: block;
  animation: slideInRight 0.7s forwards;
}


.mobile_menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  list-style-type: none;
  margin: 0;
  z-index: 100;
}

.button_close {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
