.body_scroll {
  overflow: hidden !important;
}

.modal_window {
  position: absolute;
  border: 0.4em solid var(--accent-color);
  background: var(--root-background);
  overflow: auto;
  border-radius: 10px;
  outline: none;
  padding: 20px;
  max-width: 500px;
  max-height: 400px;
  width: 100%;
}

.container {
  display: flex;
}
