.navigation_item{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navigation_desktop {
    display: none;
  }
  
  .navigation_mobile {
    display: block;
    position: relative;
  }
  
  .burger_menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .burger_line {
    width: 24px;
    height: 3px;
    background-color: var(--accent-color);
    margin: 4px 0;
    transition: all 0.3s ease;
  }
  
  .mobile_menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    list-style-type: none;
    margin: 0;
    animation: slideInLeft 0.3s ease-in-out;
    z-index: 1;
    border-radius: 10px;
  }
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .mobile_menu li {
    margin-bottom: 1rem;
  }
  
  .mobile_menu li:last-child {
    margin-bottom: 0;
  }
  
  /* @keyframes slideDown {
    0% {
      transform: translateY(-10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  } */

  .mobile_menu.hidden {
    display: none;
  }
  
  @media (min-width: 768px) {
    .navigation_desktop {
      display: block;
    }
    .navigation_mobile {
      display: none;
    }
  }