.banner {
  position: relative;
  width: 100%;
  height: 70vh; /* Высота может быть адаптирована по вашему желанию */
  background-image: url("/MainPhoto.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner > span {
  color: var(--text-button-color);
  position: absolute;
  right: 20px;
  bottom: 30px;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--text-button-color);
  font-size: 2rem;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: absolute;
  left: 20px;
  top: 30px;
}

.bannerContent p {
  color: #fff;
  font-size: 1.5rem;
}

/* Адаптивность */
@media (max-width: 768px) {
  .bannerContent {
    font-size: 1rem; /* Уменьшенный размер шрифта на маленьких экранах */
  }
}
