.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-open{
    position: relative;
    bottom: 105px;
    left: 300px;
    width: 40px;
    cursor: pointer;
    color:white;
  }

  @media(max-width: 550px){
    .form-open{
      position: relative;
      left: 150px;
      
    }
  }
  
  
