.company_details {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.address{
  position: relative;
  width: 30px;
}

.work_time{
  position: relative;
  width: 30px;
}

.service{
  position: relative;
  width: 30px;
}

.service_position{
  position: relative;
  left: 10px;
  width: 280px;
  top: 30px;
}



@media (max-width: 735px) {
  .company_details {
    flex-direction: column;
    align-items: center;
  }
}
