.description_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.description_details {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.detail {
  display: flex;
  gap: 15px;
  align-items: center;
  max-width: 100%;
}
